@mixin borderBox {
  box-sizing: border-box;
}

@mixin row {
  margin-left: ($gutter * -1);
  margin-right: ($gutter * -1);
}

@mixin rowCell {
  padding-left: $gutter;
  padding-right: $gutter;
}

@mixin containerBase {
  @include rowCell;
  @include borderBox;
  display: block;
  width: 100%;
}

@mixin container {
  margin-left: auto;
  margin-right: auto;
  @include screenSmall {
    max-width: $container-width-sm;
  }
  @include screenMedium {
    max-width: $container-width-md;
  }
  @include screenLarge {
    max-width: $container-width-lg;
  }
}

.container-fluid {
  @include containerBase;
}

.container {
  @include containerBase;
  @include container;
}

.row {
  @include row;
  @include borderBox;
  display: block;
}

[class^="col-"],
[class*=" col-"] {
  @include rowCell;
  @include borderBox;
  display: inline-block;
  float: left;
  // Temp
}

.bordered {
  @include borderBox;
  border: solid 1px #ccc;
}

@for $i from 1 through 12 {
  .col-xs-#{$i} {
    width: (( 100% / 12 ) * $i);
  }
  .col-xs-offset-#{$i} {
    margin-left: (( 100% / 12 ) * $i);
  }
}

@include screenSmall {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: (( 100% / 12 ) * $i);
    }
    .col-sm-offset-#{$i} {
      margin-left: (( 100% / 12 ) * $i);
    }
  }
}

@include screenMedium {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: (( 100% / 12 ) * $i);
    }
    .col-md-offset-#{$i} {
      margin-left: (( 100% / 12 ) * $i);
    }
  }
}

@include screenLarge {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      width: (( 100% / 12 ) * $i);
    }
    .col-lg-offset-#{$i} {
      margin-left: (( 100% / 12 ) * $i);
    }
  }
}
