
/* Grid Variables */
$gutter: 15px !default;
$baseline: ($gutter/2) !default;

$screen-break-sm: 576px !default;
$screen-break-md: 768px !default;
$screen-break-lg: 992px !default;

$max-width-xs: $screen-break-sm - 1px;
$max-width-sm: $screen-break-md - 1px;
$max-width-md: $screen-break-lg - 1px;

$container-width-xs: 540px !default;
$container-width-sm: 720px !default; 	
$container-width-md: 960px !default;
$container-width-lg: 1140px !default; 		

$text-color: #2b2b2b;

$nav-link-bg: white;
$nav-link-bg-active: #ebebff;
$nav-link-text: $text-color;
$nav-link-text-active: $text-color;
